<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="{{colorScheme}}">
  <title>{{title}}</title>
  {{{fontImports}}}
  <style>
{{{styles}}}
  </style>
</head>
<body class="{{bodyClass}}">
  <main>
{{{body}}}
  </main>
</body>
</html>
